/* contact form */
fieldset {
    width: 20rem;
    margin: auto;
    background-color: lightblue;
    border: 3px purple solid;
    border-radius: 2rem;
    padding: 1rem;
}

label {
    display: block;
    text-align: left;
    margin: 1rem 0 5px 3rem;
    font-weight: bolder;
}

input {
    display: block;
    margin-left: 2.8rem;
    width: 14.4rem;
    background-color: whitesmoke;
    border: 2px purple solid;
    border-radius: 1rem;
    padding: 10px;
    box-shadow: 0 5px purple;
}

input:focus {
    outline: none;
}

textarea {
    display: block;
    width: 14.4rem;
    margin-left: 2.8rem;
    background-color: whitesmoke;
    border: 2px purple solid;
    border-radius: 1rem;
    padding: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 5px purple;
}

textarea:focus {
    outline: none;
}

form p {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

button {
    border: 1px purple solid;
    border-radius: 0.5rem;
    padding: 10px 20px;
    margin: 0 1rem;
    box-shadow: 0 5px purple;
    background-color: whitesmoke;
    cursor: pointer;
    transition: background-color 1s;
}

button[type=submit]:hover {
    background-color: rgb(208, 80, 208);
    color: yellow;
}

button[type=reset]:hover {
    background-color: red;
    color: yellow;
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 2px purple;
}