table {
    width: 28rem;
    border-collapse: separate;
    border: 3px outset purple;
    border-radius: 1rem;
    padding: 10px;
    margin: 1rem auto;
    background-color: whitesmoke;
}

table tr {
    text-align: left;
}

table tr td {
    padding: 0 5px;
}

table tr:first-child td {
    padding-top: 5px;
}

table tr:last-child td:last-child {
    padding-bottom: 5px;
}

.function {
    font-weight: bold;
}

.timeframe {
    color: gray;
    width: 9rem;
}

.function, .timeframe {
    line-height: 1.3rem;
}

.organization {
    color: purple;
    padding-bottom: 10px;
}

tr:last-of-type .organization {
    padding-bottom: 0;
}
